# My RESUME

Name: {{ name }}
{# Show age from date of birth #}
Age: {{ date_of_birth }}

{# list skills line by line #}
Skills: {{ skills }}

{# If driver license == True, write that you have it #}


{# Add other valuable informations... #}